[user]
    name = Davidson Fellipe
    email = email@fellipe.com
[color]
    diff = auto
    grep = auto
    interactive = auto
    status = auto
    branch = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    clean-tags=for-each-ref --format="%(refname:short)" refs/tags/* | xargs git tag -d && git fetch --tags
    st = status -sb
    ci = commit -m
    br = branch
    df = diff
    lg = log -pgit ps
    co = checkout
    fu = fetch upstream
    tree = log --graph --pretty=oneline --decorate
    pom = pull origin master
    ps = push
    pst = push --tags
    pl = pull
    pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
    amend = commit --amend -C HEAD
    ll   = log --pretty=oneline --decorate --abbrev-commit --max-count=15
    lll  = git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    rn = log -M
    short = shortlog -s -n
