[user]
	name = Davidson Fellipe
	email = email@fellipe.com
[color]
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	branch = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	st = status
	ci = commit -m
	br = branch
	df = diff
	lg = log -pgit ps
	co = checkout
	tree = log --graph --pretty=oneline --decorate
	pom = push origin master
	ps = push
	pl = pull
	amend = commit --amend -C HEAD
	ll   = log --pretty=oneline --decorate --abbrev-commit --max-count=15
	rn = log -M
	short = shortlog -s -n
